/* font-family: 'Cormorant', serif; font-family: 'Lato', sans-serif; */

body {
    background-color: #f5f5f5;
}

.headlines {
    font-family: 'Lato', sans-serif;
    color: #303436;
}

.content {
    font-family: 'Cormorant', serif;
    font-weight: 575;
    color: #303436;
}

#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
    display: flex;
    justify-content: space-between;
	}

#horizontal-list li {
	display: inline;
    }

.li {
    font-size: 20px;
}

.link {
    text-decoration: none;
}

.link:link {
    color: #303436;
}

.link:visited {
    color: #303436;
}

.link:hover {
    color: #ffd18c;
}


/* Homepage*/

.homepage {
    width: 50%;
    margin: auto;
}

#about {
    background-color: #ffd18c;
    border-radius: 25px;
    width: auto;
    height: 40px;
    text-align: center;
}

#quote {
    text-decoration-line: underline;
    text-decoration-color: #004225;
    text-decoration-style: solid;
    color: #004225;
    font-size: 20px;
}

#selfportrait {
    width: 25%;
    height: 25%;
    float: right;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* resume*/

.resume {
    width: 50%;
    margin: auto;
}

#rr {
    background-color: #ffd18c;
    border-radius: 25px;
    width: auto;
    height: 40px;
    text-align: center;
}

#tagline {
    text-align: center;
}

#sociallist {
    min-width: 696px;
	list-style: none;
	padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

#sociallist li {
    display: inline;
}

.sociallink{
    text-decoration: none;
}

.sociallink:link {
    color: #303436;
}

.sociallink:visited {
    color: #303436;
}

.sociallink:hover {
    color: #ffd18c;
}

.social {
    display: flex;
    justify-content: space-around;
}

.section {
    background-color: #ffd18c;
    border-radius: 25px;
    width: auto;
    height: 40px;
    padding-left: 20px;
}

.job {
}
/* copy*/

.copy {
    width: 75%;
    margin: auto;
}

#cp {
    background-color: #ffd18c;
    border-radius: 25px;
    width: auto;
    height: 40px;
    text-align: center;
}

#pintro {
    text-align: center;
}

#clip1, #clip3, #clip5 {
    text-align: left;
    margin-top: 90px;
    margin-bottom: 90px;
    padding-right: 30%;
    border-top-style: dotted;
    border-top-color: #004225;
    border-bottom-style: dotted;
    border-bottom-color: #004225;
    padding-top: 50px;
    padding-bottom: 100px;
}

#clip2, #clip4 {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 30%;
}

.cliplink{
    text-decoration: none;
}

.cliplink:link {
    color: #303436;
}

.cliplink:visited {
    color: #303436;
}

.cliplink:hover {
    color: #ffd18c;
}
/* photography*/

.photo {
    width: 75%;
    margin: auto;
}
.color {
    height: 150px;
    width: 150px;
}

#pp {
    background-color: #ffd18c;
    border-radius: 25px;
    width: auto;
    height: 40px;
    text-align: center;
}

.ppintro {
    text-align: center;
    margin-bottom: 50px;
}

.pics {
    width: 300px;
    height: auto;
    margin: auto;
}

.pictureclips {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
}
/* stuff */
.color-1 {
    background-color: #303436;
}

.color-2 {
    background-color: #656567;
}

.color-3 {
    background-color: #f5f5f5;
}

.color-4 {
    background-color: #ffd18c;
}

.color-5 {
    background-color: #004225;
}
