/* font-family: 'Cormorant', serif; font-family: 'Lato', sans-serif; */

body {
    background-color: #f5f5f5;
}

.headlines {
    font-family: 'Lato', sans-serif;
    color: #303436;
}

.content {
    font-family: 'Cormorant', serif;
    font-weight: 575;
    color: #303436;
}

#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
    display: flex;
    justify-content: space-between;
	}

#horizontal-list li {
	display: inline;
    }

.li {
    font-size: 20px;
}

.link:hover {
    color: #004225;
}

.link:visited {
    color: #004225;
}
/* Homepage*/

.homepage {
    width: 50%;
    margin: auto;
}

#about {
    background-color: #ffd18c;
    border-radius: 25px;
    width: auto;
    height: 40px;
    padding-left: 20px;
}

#quote {
    text-decoration-line: underline;
    text-decoration-color: #004225;
    text-decoration-style: solid;
}

#selfportrait {
    width: 25%;
    height: 25%;
    float: right;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* resume*/
/* copy*/
/* photography*/
.color {
    height: 150px;
    width: 150px;
}

.color-1 {
    background-color: #303436;
}

.color-2 {
    background-color: #656567;
}

.color-3 {
    background-color: #f5f5f5;
}

.color-4 {
    background-color: #ffd18c;
}

.color-5 {
    background-color: #004225;
}
