/* font-family: 'Cormorant', serif; font-family: 'Lato', sans-serif; */

.headlines {
    font-family: 'Lato', sans-serif;
}

.content {
    font-family: 'Cormorant', serif;
    font-weight: 400;
}

#color-palette {
    background-color: white;
    border-width: 2px;
    border-color: black;
    padding: 10px;
}

.color {
    height: 150px;
    width: 150px;
}

.color-1 {
    background-color: #303436;
}

.color-2 {
    background-color: #656567;
}

.color-3 {
    background-color: #f5f5f5;
}

.color-4 {
    background-color: #ffd18c;
}

.color-5 {
    background-color: #004225;
}

.img {
    width: 300px;
    margin: 15px;
}
